/* first we reset margin and padding for whole page */
*{
    margin: 0;
    padding: 0;
}
/* in this block,
    we set background for website
     */
body {
    background-image: url("./background_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }

/* In this block, 
    first we set the height and width to be equal to the whole page,
    for responsiveness, we set the height = 100 vh.
    Finally, we used flex to place our elements and their content in the center of the page */
#root{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* In this block,
    first define a board with a black and faded border.
    set the color inside this board to white.
    Using border-radius, curved shape around the board.
    using padding and flex.
    We use flex-wrap so that the elements move down as the screen shrinks. */
#card{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255,255,255,0.8);
    border-radius: 30px;
    padding: 10px;
    padding-bottom: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* set margin 15px between text and border box  */
#content{
    margin: 15px;
}
/* set margin 15px between text and border box  */
#answer{
    margin: 15px;
}
/* In this block,
     we define the second part of conten as inline-block
     so that it can be placed next to the form. 
     We also set the size and font for it */
#resulteCash{
    padding: 10px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    font-size: large;
    border: 1px dashed black;
}
/* set margin top 10px*/
.mt{
    margin-top: 10px;
}
/*  we set coordinates of clear grid resulte cash*/
.gridBtnClear{
    position: relative;
}
/*  we set coordinates of clear bottom */
.btnClear{
    position: absolute;
    bottom: 25px;
    left: 3px;
}
/* in this block,
    we define error
    we set the position of the error element to the center(using flex)
    also we blur the background
    We set the display status of this block to none */
#alertError{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
/* 
in this block,
  we define style of error box
  we set  direction: rtl beacuse the text of error is persian
 */
#cardError{
    width: 500px;
    padding: 20px;
    direction: rtl;
    max-width: 95%;
    background-color: white;
   border-radius: 8px;
}